@model Libro

<!-- Vista parcial para mostrar detalles de un libro -->
<div>
    <h4>Detalles del Libro</h4>
    <p>ID: @Model.Id</p>
    <p>Título: @Model.Titulo</p>
    <p>Autor: @Model.Autor</p>
    <p>Año de Publicación: @Model.AñoPublicacion</p>
</div>
