@model Practica3_Formularios_Ejercicio4.Models.CharlaViewModel

<h2>Charla con Profesionales del Desarrollo</h2>
<p>@Model.Texto</p>
<p>Fecha del evento: @Model.Fecha</p>
<p><a href="@Url.Action("Confirmacion", "Home")">Confirmar asistencia</a></p>

