@model NombreEdadModel

@*
   
*@
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Datos</h1>

<p>Nombre: @ViewData["Nombre"]</p>

<p>Edad: @ViewData["Mensaje"]</p>
