@model Persona

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>@Model.Mensaje</h1>
<p>Tu nombre de joto: @Model.nombre</p>
<p>El cursito donde chupas pijas: @Model.curso</p>
<p>Email de escort: @Model.email</p>