@model EjemploSelectList

@{
    ViewData["Title"] = "Home Page";
}



<form asp-action="Details">
    <div class="container">
        <div class="container">
            <h3>empresa</h3>
            <div class="container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d7889.40621095499!2d-70.23299216136742!3d8.624475075086659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d8.626995899999999!2d-70.2301559!5e0!3m2!1ses-419!2sve!4v1456756695234" style="border:0" allowfullscreen="" frameborder="0" height="250" width="100%"></iframe>
            </div>
            <strong>Contactenos</strong><br><strong>Oficina:</strong> 123456789
            <hr>
        </div>
        <br />
        <div class="container">
            <form role="form" id="Formulario" action="../php/contacto2.php" method="POST">
                <div class="form-group">
                    <label class="control-label" for="Nombre">Nombres</label>
                    <input asp-for="Nombre" type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Introduzca su nombre" required autofocus />
                </div> 
                <br />

                <!--CON LOS VALORES DIRECTAMENTE EN HTML-->
                <div class="form-group">
                    <label class="control-label" for="Motivo">Motivo de Contacto</label>
                    <select asp-for="Motivo" name="Motivo" class="form-control">
                        <option value="Consulta General">Consulta General</option>
                        <option value="Realizar Pedido">Realizar Pedido</option>
                        <option value="Informe un problema">Informe un problema</option>
                    </select>
                </div> 


                <!--
                    CON LOS VALORES DESDE UN ENUMERADO
                -->
                   <div class="form-group">
                    <label class="control-label" for="Estado">Motivo de Contacto</label>
                    <select asp-for="Estado" name="Estado" asp-items="Html.GetEnumSelectList<EstadoEnum>()" class="form-control">
                        
                    </select>
                </div>

                <!--
                    CON LOS VALORES DESDE EL CONTROLADOR
                -->
                    <div class="form-group">
                    <label class="control-label" for="Estado">Motivo de Contacto</label>
                    <select asp-for="Anyo"  name="Anyo" asp-items="@Model.Anyos" class="form-control">
                        
                    </select>
                </div>

                <br />
                <div class="form-group">
                    <label class="control-label" for="Empresa">Empresa</label>
                    <input asp-for="Empresa" type="text" class="form-control" id="Empresa" name="Empresa" placeholder="Introduzca el nombre de su empresa" required />
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label" for="Email">Dirección de Correo Electrónico</label>
                    <input asp-for="Email" type="text" class="form-control" id="Email" name="Email" placeholder="Introduzca su correo electrónico" required />
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label" for="Mensaje">Mensaje</label>
                    <textarea asp-for="Mensaje" rows="5" cols="30" class="form-control" id="Mensaje" name="Mensaje" placeholder="Introduzca su mensaje" required ></textarea>
                </div>
                <br />
                <div class="form-group">                
                    <input type="submit" class="btn btn-primary" value="Enviar">
                    <input type="reset" class="btn btn-default" value="Limpiar">                
                </div>
                <br />
                <div id="respuesta" style="display: none;"></div>
            </form>
        </div>       
    </div>

</form>
