@model Alumno
@{
    ViewData["Title"] = "Añadir Alumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alta Alumno</h1>
<br />
<br />
<form asp-action="Add">
    <div class="mb-3">
        <label asp-for="DNI" class="form-label"></label>
        <input type="text" asp-for="DNI" class="form-control" />
        <span asp-validation-for="DNI" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Apellidos" class="form-label"></label>
        <input type="text" asp-for="Apellidos" class="form-control" />
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input type="text" asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Curso" class="form-label"></label>
        <input type="text" asp-for="Curso" class="form-control" readonly />
        <span asp-validation-for="Curso" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Edad" class="form-label"></label>
        <input type="text" asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark">Aceptar</button>
    <a class="btn btn-dark" asp-action="Index">Cancelar</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



