@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>En ocasiones veo videos de chicas diciendo cosas bonitas y cierro los ojos para imaginar que estan frente a mi hablandome, he intentado dejar de hacerlo porque se que es raro y patetico pero no soporto la necesidad de tener cariño y esta es una forma que tengo de satisfacer dicha necesidad, diganme que puedo hacer para salir de esta situacion que no sean los tipicos consejos trillados porque ya me canse de intentarlos y no quiero ir con un psicologo o creen que</h1>
}
