@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Pollas pollitas</h2>
}


<p>Holaaaa @ViewData["nombre"]</p>
<p>@ViewBag.Fecha</p>