@model EjemploFormularioValidaciones_2.Models.DataViewModel;
@{
    ViewData["Title"] = "UpdateData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Tus datos</h1>

</div>

<form  asp-action="UpdateData">
    
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control" readonly />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Edad" class="form-label"></label>
        <input type="text" asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Ciclo" class="form-label"></label>
        <select asp-for="Ciclo" asp-items="Model.Ciclos"></select>
        <span asp-validation-for="Ciclo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Aceptar</button>
    <a class="btn btn-dark" asp-action="Index">Cancelar</a>
</form>

