@model Alumno
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Alumno</h1>
<br /><br />
<form  asp-action="Edit">
    
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control" readonly />
        
    </div>
    <div class="mb-3">
        <label asp-for="Apellidos" class="form-label"></label>
        <input type="text" asp-for="Apellidos" class="form-control" readonly />
        
    </div>
    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input type="text" asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Curso" class="form-label"></label>
        <input type="text" asp-for="Curso" class="form-control" />
        <span asp-validation-for="Curso" class="text-danger"></span>
    </div>
    
    
    <button type="submit" class="btn btn-dark">Aceptar</button>
    <a class="btn btn-dark" asp-action="Index">Cancelar</a>
</form>
