@model EjemploFormulario_1.Models.ContactModelView
@{
    ViewData["Title"] = "ShowData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tus datos han sido registrados. </h1>
<h4>Te responderemos a la mayor brevedad</h4>
<br />
<div >
   <p> Nombre: @Model.Nombre</p>
   <p> Email: @Model.Email </p>
   <p> Mensaje: @Model.Mensaje </p>
</div>

